/* PC */
@media (min-width:1024px) {
   
}

/* Tablet
@media (min-width:1300px) and (max-width:1350px) {
    #card{
        width: 60vw !important;
        height: 65vh !important;
   }
   .user-talent li{
        margin-left: 25px !important;
   }
    
   
} */
/* Tablet but smaller*/
@media (min-width:890px) and (max-width:1350px) {
    #card{
        width: 50vw !important;
        height: 65vh !important;
   }
   .user-talent li{
        margin-left: 25px !important;
   }
    
   
}


/* Mobile */
@media (max-width:890px) {
   #card{
        width: 75vw !important;
        height: 75vh !important;
   }
   .user-talent li{
        margin-left: 25px !important;
   }
}